{% extends "base.html" %}
{% block content %}

    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <h5>Verð: {{ item.price }} kr.</h5>
    <h5>{{ item.user.userName }}</h5>
    {% for item_image in item.itemimage_set.all %}
        <img src="{{ item_image.image }}" class="item-image" />
    {% endfor %}
    <p class="hidden" id="itemIdContainer">{{ item.id }}</p>

    {% if user.is_authenticated %}{% if user.id == item.user_id %}
        <div class="single-item-btn">
            <a href="{% url 'delete_item' item.id %}" class="block btn btn-primary" id="delete">Delete item</a>
            <a href="{% url 'update_item' item.id %}" class="block btn btn-primary" id="update">Update item</a>
        </div>
    {% else %}
        <div class="offer-btn">
            {% include 'modals/modalsBase.html' %}
        </div>
    {% endif %}{% endif %}

{% endblock %}